[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chroma = "*"
mysql-connector-python = "*"
requests = "*"
pyspark = "*"
graphframes = "*"

[dev-packages]

[requires]
python_version = "3.12"
